<!-- BEGIN: Vendor JS-->
<script src="{{url_for('static', filename='app-assets/vendors/js/vendors.min.js')}}"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{{url_for('static', filename='app-assets/vendors/js/ui/jquery.sticky.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/charts/apexcharts.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/extensions/toastr.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/forms/select/select2.full.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/editors/quill/katex.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/editors/quill/highlight.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/editors/quill/quill.min.js')}}"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{{url_for('static', filename='app-assets/js/core/app-menu.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/js/core/app.js')}}"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="{{url_for('static', filename='app-assets/js/scripts/pages/dashboard-ecommerce.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/js/scripts/pages/page-blog-edit.js')}}"></script>
<!-- END: Page JS-->

<!-- desde pagina login-->
<script src="{{url_for('static', filename='app-assets/vendors/js/forms/validation/jquery.validate.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/js/scripts/pages/page-auth-login.js')}}"></script>
<!-- fin desde pagina login-->

<!-- desde la pagina de datatable basic -->

<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/datatables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/vfs_fonts.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js')}}"></script>

<!-- fin desde la pagina de datatable basic -->

<!-- desde pagina de fullcalendar-->
<script src="{{url_for('static', filename='app-assets/js/scripts/pages/app-calendar-events.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/calendar/fullcalendar.min.js')}}"></script>
<script src="{{url_for('static', filename='app-assets/vendors/js/extensions/moment.min.js')}}"></script>
<!-- fin desde pagina de fullcalendar-->

<script src="{{url_for('static', filename='app-assets/js/scripts/cards/card-advance.js')}}"></script>

<script>
  $(window).on("load", function () {
    if (feather) {
      feather.replace({
        width: 14,
        height: 14,
      });
    }
  });
</script>
