<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/vendors.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/charts/apexcharts.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/extensions/toastr.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/forms/select2.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/editors/quill/katex.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/editors/quill/monokai-sublime.min.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/editors/quill/quill.snow.css')}}"/>
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/bootstrap.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/bootstrap-extended.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/colors.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/components.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/themes/dark-layout.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/themes/bordered-layout.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/themes/semi-dark-layout.css')}}"/>

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/core/menu/menu-types/horizontal-menu.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/pages/dashboard-ecommerce.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/plugins/charts/chart-apex.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/plugins/extensions/ext-component-toastr.css')}}"/>
<!-- END: Page CSS-->

<!-- desde carousel -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/core/menu/menu-types/horizontal-menu.css')}}"/>
<!-- fin desde carousel -->

<!-- desde pagina login -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/plugins/forms/form-validation.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/pages/page-auth.css')}}"/>
<!-- fin desde pagina login -->

<!-- desde pagina blog -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/pages/page-blog.css')}}"/>
<!-- fin desde pagina blog -->

<!-- desde pagina de error -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/pages/page-misc.css')}}"/>
<!-- fin desde pagina de error -->

<!-- Desde la pagina de agregar nuevo post-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/plugins/forms/form-quill-editor.css')}}"/>
<!-- fin desde la pagina de agregar nuevo post-->

<!-- desde la pagina de datatable basic -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/tables/datatable/rowGroup.bootstrap4.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css')}}">
<!-- fin desde la pagina de datatable basic  -->

<!-- Desde la pagina de fullcalendar-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/calendars/fullcalendar.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/vendors/css/forms/select/select2.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/plugins/forms/pickers/form-flat-pickr.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/pages/app-calendar.css')}}">
<!-- fin desde la pagina de fullcalendar-->

<!-- Desde la pagina de APP-FAQ-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app-assets/css/pages/page-faq.css')}}">
<!-- fin desde la pagina de APP-FAQ-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/style.css')}}"/>
<!-- END: Custom CSS-->
