{% extends 'layout.html' %} {% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.3/datatables.min.js"></script>
<!-- Statistics Card -->
<div class="col-xl-12 col-md-12 col-12">
  <div class="card card-statistics">
    <div class="card-body statistics-body">
                <!-- <div class="row mb-2">
                  <div class="col-md-6">
                      <input type="search" class="form-control" id="searchInput" aria-controls="DataTables_Table_0" placeholder="Buscar">
                  </div>
                </div> -->
                <section id="basic-datatable">
                  <div class="row">
                      <div class="col-12">
                          <div class="card">
                            <div class="table-responsive">
                              <table class="datatables-basic table">
                                  <thead>
                                      <tr>
                                          <th>Título</th>
                                          <th>Descripción</th>
                                          <th>Acción</th>
                                      </tr>
                                  </thead>
                              </table>
                            </div>
                          </div>
                      </div>
                  </div> 
              </section>
    </div>
  </div>
</div>

<!--/ Statistics Card -->
{% include 'download/scripts.html' %} {% endblock %}